.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgb(255, 201, 130);
    height: 80px;
    box-shadow: 1px -3px 11px 4px rgba(0,0,0,0.1);
  }

  a {
    color:rgb(255, 255, 255);
    text-decoration: none;
  }

  a:visited {
    color:rgb(255, 255, 255)
  }

  .navbar ul {
    display: flex;
  }

  .navbar li {
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
  }

  .navbar li::after {
    background-color: rgb(255, 255, 255);
    content: "";
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
  }
  
  .navbar li:hover::after {
    width: 100%;
  }
